.note-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    width: 220px;
    height: 200px;
    margin-top: 50px;
    margin-right: 5px;
    float: left;
    background-color: #ffed64;
    box-shadow:  5px 5px 5px rgb(82, 127, 143);
    color: rgba(0,0,0,0.6);
    border-radius: 20px;
  }
  
.note-item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } 

.textarea-content-note-item {
  grid-template-columns: 1fr;
  gap: 0;
  margin-top: 0px;
  justify-content: space-between;
  margin: 5px 30px 10px 30px;
  width: 180px !important;
  text-wrap: wrap;
  overflow: hidden;
  }

  textarea-content-note-item p {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    margin: 0; 
  }

.delete-note-btn{
    border: none;
    color:#424242;
    font-size: 20px;
    background-color: transparent;
    position: absolute;
    padding-left: 200px;
    }
  
.delete-note-btn:hover {
    cursor: pointer ;
    font-weight: bold;
    }

.date {
  display: flex;
  width: max-content; 
  margin-right: 12rem;
  font-size: 12px;
  border: transparent;
  color:#424242;
  margin: 50px 0 0 15px;
  font-size: 14px;
  }